body, html, #__next, .site { 
  background: #4DB6AC;
}


.emoji-art-container {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: 2fr 9fr 1fr;
  grid-gap: 30px;
  grid-template-areas: 
  'side-bar-left top-bar  side-bar-right' 
  'side-bar-left canvas side-bar-right'
  'side-bar-left footer side-bar-right';
  height: 100vh;
}


.canvas {
  display: grid;
  grid-area: canvas;
  overflow: hidden;
  position: relative;
  transition: all .2s linear;
}

.side-bar-left-container{
  grid-area: side-bar-left;
}

.side-bar {
  display: flex;
  height:85%;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;

}

.side-bar-right-container {
  grid-area: side-bar-right;
}


.top-bar-container {
  grid-area: top-bar;
}

.top-bar {
  display: flex;
  padding: 40px;
  justify-content: space-evenly;
  align-items: center;
}


.footer {
  display: flex;
  grid-area: footer;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
}


.footer a {
  text-decoration: none;
}


.layout-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

