body, html, #__next, .site { 
  background: #4DB6AC;
}


.emoji-art-container {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: 2fr 9fr 1fr;
  grid-gap: 30px;
  grid-template-areas: 
  'side-bar-left top-bar  side-bar-right' 
  'side-bar-left canvas side-bar-right'
  'side-bar-left footer side-bar-right';
  height: 100vh;
}

@media (max-width: 1020px) {
  .emoji-art-container {
    grid-template-rows: 100px auto 400px 400px 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'top-bar' 
    'side-bar-left'
    'canvas'
    'side-bar-right'
    'footer'
    ;
    height: auto;
    padding: 10px;
  }
}


.canvas {
  display: grid;
  grid-area: canvas;
  overflow: hidden;
  position: relative;
  transition: all .2s linear;
}

.side-bar-left-container{
  grid-area: side-bar-left;
  min-width: 300px;
}

.side-bar {
  display: flex;
  height:85%;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;

}

@media (max-width: 1020px) {
  .side-bar {
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    height:100%;
  }
}

.side-bar-right-container {
  grid-area: side-bar-right;
  min-width: 300px;
}


.top-bar-container {
  grid-area: top-bar;
}

.top-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}


.footer {
  display: flex;
  grid-area: footer;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.footer a {
  text-decoration: none;
}


.layout-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}


.emoji-select-button{
  display: none;
}

@media (max-width: 1020px) {
  .emoji-picker{
    display: none;
}
}


@media (max-width: 1020px) {
  .emoji-select-button{
    display: block;
}
}

